/*fonts */
@import url('https://fonts.googleapis.com/css2?family=Island+Moments&family=Poppins&family=Spline+Sans:wght@500;600&family=The+Nautigal:wght@700&display=swap');
/* font family */
body {
  font-family: 'Poppins', sans-serif;
  background-color: #AAAAAA;
}
main {
  display: flex;
  justify-content: center;
  width: 1440px;
}
/*header section*/
.nnnnnnn {
  margin-left: 120px;
}
/* work page */
.container {
  background-color: #FFFFFF;
  padding-left: 20px;
  width: 800px;
  padding: 30px;
}
/* first section */
.one-half {
  width: 50%;
  padding-left: 120px;
}
.one-half img {
  width: 200px;
}
.first-section {
  display: flex;
}
.first-section h1 {
  font-size: 18px;
}
.on-click {
  background-color: pink;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 35px;
}

/*second section */
.second-section h4 {
  text-align: center;
  margin-top: 100px;
}
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 30px;
  grid-gap: 20px;
  background-color: azure;
}
.course .courses-banner img {
  width: 224px;
height: 150px;
}
.course {
  background-color: #FFFFFF;
  padding-left: 5px;
}
.course-author {
  font-size: 24px;
  font-weight: 700;
}
.by {
  font-size: 14px;
  font-weight: 300;
}
.fa-star, .fa-star-half-alt {
  color: orange;
}
.lower {
  color: #E02C6DDE;
  float: right;
}
/*third section */
.op {
margin-top: 100px;
margin-bottom: 100px;
}
.one-half img {
  margin-top: 20px;
}
.paragraph {
  font-family: 'Poppins', sans-serif
}
